---
export interface Props{
    href:string,
    text:string,
    className?:string,
    variant:"primary"|"secondary",
    id?:string
}

const {href, text,className, variant, id} = Astro.props

const getThemeStyle = (variant:"primary"|"secondary")=>{
    if (variant === "primary") {
        return "bg-[#3fad30] border-transparent relative after:bg-[#318a26] hover:border-[#318a26]"
    }
    return "text-primary"
}

const getTextColor = (variant:"primary"|"secondary") =>{
    if (variant === "primary") {
        return "text-white"
    }
    return "text-primary"
}


---

<a id={id} href={href} class={`px-6 py-3 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                    after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#3fad30]
                    ${getThemeStyle(variant)} hover:after:opacity-100 hover:after:scale-[2.5] ${className}`}>
    <span class={`relative ${getTextColor(variant)} z-10`}>
        {text}
    </span>
</a>