---
export interface Props{
    className?:string,
    variant:"primary"|"secondary"
    id?:string
}

const {className, variant, id} = Astro.props

const getThemeStyle = (variant:"primary"|"secondary")=>{
    if (variant === "primary") {
        return "bg-stone-600 border-transparent relative after:bg-stone-750 hover:border-stone-750"
    }
    return "text-primary"
}


---
<button id={id} class={`px-6 py-3 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                    after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#544617]
                    ${getThemeStyle(variant)} hover:after:opacity-100 hover:after:scale-[2.5] ${className}`}>
    <slot/>
</button>