---
import Layout from "../layout/layout.astro";
import Brands from "../components/Brands.astro";
import Services from "../components/Services.astro";
import AboutUs from "../components/AboutUs.astro";
import Features from "../components/Features.astro";
import CTA from "../components/CTA.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Expertos en mineria y geologia">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero />
		<Services/>
		<AboutUs/>
		<Features/>
		<CTA/>
	</main>
</Layout>