---
import Info from "./Info.astro";
import Container from "./shared/Container.astro";
import Paragraph from "./shared/Paragraph.astro";
import Title from "./shared/Title.astro";
---

<section id="about-us">
  <Container className="flex flex-col md:flex-row gap-10 lg:gap-12">
    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <img
          src={"/images/ingeniero.webp"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
      </div>
    </div>
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>Somos su Socio Estratégico en la Búsqueda de Soluciones en Ingeniería de Geologica</Title>
      <Paragraph className="mt-8">
        En GeoMineral, somos una empresa líder en asesoría y soluciones especializadas en ingeniería geológica. Con más de 5 años de experiencia y un historial de asesoramiento a más de 40 minas, brindamos servicios integrales en áreas esenciales como la ingeniería de minas, la gestión ambiental, el derecho minero, y la seguridad y salud en el trabajo.
      </Paragraph>
      <div
        class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]"
      >
        <Info
          description="En GeoMineral, nuestra misión es brindar asesoría y soluciones especializadas en ingeniería geológica que optimicen la eficiencia, sostenibilidad y seguridad en la minería. Nos enfocamos en ofrecer servicios integrales en ingeniería de minas, gestión ambiental, derecho minero, y seguridad y salud en el trabajo, impulsando un desarrollo minero responsable."
          title="Mission"
        >
          <span slot="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 sm:w-5 sm:h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
              ></path>
            </svg>
          </span>
        </Info>
        <Info
          description="Ser la empresa líder en asesoría y soluciones en ingeniería geológica y minera, reconocida a nivel nacional e internacional por nuestra innovación, sostenibilidad y excelencia en la seguridad de las operaciones mineras, promoviendo una industria minera responsable y con visión de futuro."
          title="Vision"
        >
          <span slot="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 sm:w-5 sm:h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
          </span>
        </Info>
      </div>
    </div>
  </Container>
</section>
