---
import Container from "./shared/Container.astro";
import Paragraph from "./shared/Paragraph.astro";
import Title from "./shared/Title.astro";
---

<section id="features">
  <Container className="flex flex-col md:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>Descubre las Claves del Éxito de GeoMineral: Soluciones Especializadas, Innovación y Compromiso con la Sostenibilidad</Title>
      <Paragraph className="mt-8">
        En GeoMineral, combinamos experiencia, innovación tecnológica y un enfoque en sostenibilidad para ofrecer soluciones integrales en ingeniería minera y geologia. Nuestro equipo multidisciplinario garantiza asesoría especializada en todas las áreas clave, promoviendo prácticas responsables y eficientes en la industria minera.
      </Paragraph>
     
      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Asesoría Integral Personalizada
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Experiencia Probada
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Enfoque en Sostenibilidad y Seguridad
        </li>
        <li>
          <span
            class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
            >&checkmark;</span
          > Tecnología de Vanguardia.
        </li>
      </ul>
    </div>

    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <img
          src={"/images/ingeniero_con_tablet.webp"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
      </div>
    </div>
  </Container>
</section>
