---
import Service from "./Service.astro";
import Container from "./shared/Container.astro";
import Paragraph from "./shared/Paragraph.astro";
import Title from "./shared/Title.astro";
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>Que ofrecemos</Title>
      <Paragraph>
        Trayectoria Destacada en el Sector Minero
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      <Service
        title="Topografía y Geomática"
        description="Servicios de topografía de alta precisión para levantamientos topográficos, delimitación de concesiones mineras, y modelado 3D del terreno. Usamos tecnologías avanzadas como drones, GPS diferencial (DGPS), y estaciones totales."
      >
        <span slot="icon">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
           class="w-6 h-6" 
            width="44" 
            height="44" 
            viewBox="0 0 24 24"
            stroke="currentColor"  
            stroke-width="1.5"
            fill="none"  >
            <path d="M12 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M8 16l-2.091 3.486a1 1 0 0 0 .857 1.514h10.468a1 1 0 0 0 .857 -1.514l-2.091 -3.486" />
          </svg>
        </span>
      </Service>
      <Service
        title="Exploración Geológica"
        description="Servicios de exploración geológica enfocados en la identificación de recursos minerales, caracterización de depósitos, y evaluación del potencial minero."
      >
        <span slot="icon">
          <svg 
          xmlns="http://www.w3.org/2000/svg" 
          class="w-6 h-6" 
          width="32" 
          height="32" 
          viewBox="0 0 24 24" 
          stroke="currentColor"
          stroke-width="1.5"
          fill="none"  >
            <path d="M10 10h4v4h-4z" />
            <path d="M10 10l-3.5 -3.5" />
            <path d="M9.96 6a3.5 3.5 0 1 0 -3.96 3.96" />
            <path d="M14 10l3.5 -3.5" />
            <path d="M18 9.96a3.5 3.5 0 1 0 -3.96 -3.96" />
            <path d="M14 14l3.5 3.5" />
            <path d="M14.04 18a3.5 3.5 0 1 0 3.96 -3.96" />
            <path d="M10 14l-3.5 3.5" />
            <path d="M6 14.04a3.5 3.5 0 1 0 3.96 3.96" />
          </svg>
        </span>
      </Service>
      <Service
        title="Diseño y Planificación de Minas (PTOs)"
        description=" Elaboración de Proyectos Técnicos de Operación (PTO) para la mediana y pequeña minería, cumpliendo con la normativa vigente y asegurando una explotación eficiente y segura."
      >
        <span slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg"  class="w-6 h-6" 
          width="32" 
          height="32" 
          viewBox="0 0 24 24"
          stroke="currentColor"  
          stroke-width="1.5"
          fill="none" >
            <path d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11" />
            <path d="M9 7l4 0" />
            <path d="M9 11l4 0" />
          </svg>
        </span>
      </Service>
      <Service
        title="Servicios de Perforación y Muestreo"
        description="Perforación de núcleos y pozos para la evaluación de depósitos minerales, con un enfoque en la recuperación de muestras representativas y la caracterización del yacimiento."
      >
        <span slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg"    
          class="w-6 h-6" 
          width="32" 
          height="32" 
          viewBox="0 0 24 24"
          stroke="currentColor"  
          stroke-width="1.5"
          fill="none" >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
            <path d="M15.51 15.56a5 5 0 1 0 -3.51 1.44" />
            <path d="M18.832 17.86a9 9 0 1 0 -6.832 3.14" />
            <path d="M12 12v9" />
          </svg>
        </span>
      </Service>
      <Service
        title="Estudios de Impacto Ambiental y Rehabilitación"
        description="Realización de estudios de impacto ambiental y desarrollo de planes de rehabilitación de áreas mineras, asegurando el cumplimiento de las normativas ambientales y la sostenibilidad del proyecto."
      >
        <span slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" 
          class="w-6 h-6" 
          width="32" 
          height="32" 
          viewBox="0 0 24 24"
          stroke="currentColor"  
          stroke-width="1.5"
          fill="none" >
            <path d="M2 9a10 10 0 1 0 20 0" />
            <path d="M12 19a10 10 0 0 1 10 -10" />
            <path d="M2 9a10 10 0 0 1 10 10" />
            <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5" />
            <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5" />
          </svg>
        </span>
      </Service>
      <Service
        title="Consultoría en Seguridad y Salud Ocupacional"
        description="Asesoría y formación en seguridad y salud ocupacional, con énfasis en la prevención de riesgos y el cumplimiento de normativas en operaciones mineras."
      >
        <span slot="icon">
          <svg xmlns="http://www.w3.org/2000/svg" 
          class="w-6 h-6" 
          width="32" 
          height="32" 
          viewBox="0 0 24 24"
          stroke="currentColor"  
          stroke-width="1.5"
          fill="none" >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
            <path d="M12 3v18" />
          </svg>
        </span>
      </Service>
    </div>
  </Container>
</section>
